.header__content{
	opacity: 0;
	transition: all 1s;
}

.header__content._active{
	opacity: 1;
}


.partners__box:nth-child(1){
	transform: translateY(200px);
	opacity: 0;
	transition: all 1s;
}

.partners__box:nth-child(2){
	transform: translateY(200px);
	opacity: 0;
	transition: all 1.3s;
}

.partners__box:nth-child(3){
	transform: translateY(200px);
	opacity: 0;
	transition: all 1.6s;
}

.partners__box:nth-child(4){
	transform: translateY(200px);
	opacity: 0;
	transition: all 1.9s;
}

.partners__box:nth-child(5){
	transform: translateY(200px);
	opacity: 0;
	transition: all 2.2s;
}

.partners__box:nth-child(6){
	transform: translateY(200px);
	opacity: 0;
	transition: all 2.5s;
}

.partners__box:nth-child(7){
	transform: translateY(200px);
	opacity: 0;
	transition: all 2.8s;
}

.partners__box:nth-child(8){
	transform: translateY(200px);
	opacity: 0;
	transition: all 3.1s;
}
.partners__box._active{
	transform: translateY(0);
	opacity: 1;
}


.top-anim{
	transform: translateY(300px);
	opacity: 0;
	transition: all 1s;	
}

.top-anim._active{
	transform: translateY(0);
	opacity: 1;
}

.left-anim{
	transform: translateX(-500px);
	opacity: 0;
	transition: all 1s;	
}

.left-anim._active{
	transform: translateX(0);
	opacity: 1;
}