html,
body {
	height: 100%;
}

body{	
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 27px;
	font-weight: 400;
	color: $back-body;
	min-width: 320px;
	overflow-x: hidden;
}

.body--hid{
	overflow: hidden;
}

a{
	color: inherit;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
